<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace = "UserMapper">

    <select id="findOneById" resultType="User">
    select * from user where id = #{id}
  </select>
  
   <!-- 用户列表 -->
	<select id="infolistPage" parameterType="Page" resultType="PageData">
		select  n.*
		from user n 
		where 1=1
		<if test="pd.name != null and pd.name != ''">
			and n.name =#{pd.name}
		</if>
	</select>
  
  
</mapper>